<!DOCTYPE html>
<html>
<head>
    <title>Filter</title>
</head>
<body>
<center>
    <h1>how to implement</h1>
    <hr>
    <form action="/std/"method="POST">
        {% csrf_token %}
        <input type="radio" value="m" name="gender">Male |
        <input type="radio" value="f" name="gender">Female
        <select name="occupation" >
            <option selected disabled="true">--select option--</option>
            <option>Karnataka</option>
            <option>Mumbai</option>
            <option>Tamil Nadu</option>

        </select>

       Submit <input type="submit" value="Search"/>
            {% for result in abcd %}
                {{result.form}}
            {% endfor %}




                  <hr>
        <div class="form-group">
     First Name: <input type="text" placeholder="Enter name" name="f_name" required>
        {{form.f_name}}
        </div>
        <div class="form-group">
        <label for="l_name"><b>Last Name</b></label>
      <input type="text" placeholder="Enter lastname" name="l_name" required>
        {{form.l_name}}
        </div>
            <div class="form-group">
      <label for="email"><b>Email</b></label><br>
      <input type="email" placeholder="Enter mail" name="email" required>
        {{form.email}}
            </div>
        <div class="form-group">
      <label for="gender"><b>Gender</b></label><br>
      <input type="text" placeholder="Enter gender" name="gender" required>
        {{form.gender}}
            </div>
         <div class="form-group">
      <label for="occupation"><b>Occupation</b></label><br>
      <input type="text" placeholder="Enter occupation" name="occupation" required>
        {{form.occupation}}
            </div>
<div class="form-group">
      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="submit">Add</button>
      </div>
</div>
</div>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
   <br>
<div class="container">

    <table class="table table=striped table-bordered table-sm">
        <thead  class="thead-dark">
            <tr>
                <th>First name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
        </thead>

    {% for student in students %}
        <tr class="bg-light text-dark ">
            <td>{{student.f_name}}</td>
            <td>{{student.l_name}}</td>
            <td>{{student.email}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.occupation}}</td>
            <td>
                <a href="/edit/{{student.id}}"> <span class="btn btn-success">Edit</span></a>
                <a href="/delete/{{ student.id }}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    {% endfor %}
        </table>
    </form>
</center>
</body>
</html>